 <nav class="page-navs bg-white">
    <!-- .nav-scroller -->
    <div class="nav-scroller">
        <!-- .nav -->
        <div class="nav nav-tabs">
            <a class="nav-link active" href="#">Dashboard</a>
            <a class="nav-link" href="#">
                Activities
                <span class="badge">16</span>
            </a>
            <a class="nav-link" href="#">Teams</a>
            <a class="nav-link" href="#">Projects</a>
            <a class="nav-link" href="#">Tasks</a>
            <a class="nav-link" href="#">Settings</a>
        </div>
        <!-- /.nav -->
    </div>
    <!-- /.nav-scroller -->
    @*@{
        Html.RenderPartial("_HeaderLayout");
    }*@
</nav>