

<header class="app-header navbar-light " style="height:100px; background-color:#ffffff;">
    <!-- .top-bar -->
    <div class="top-bar">
        <!-- .top-bar-brand -->
            <!-- /toggle menu -->build
            <a href="/Home/Index">
                <img src="~/Content/assets/images/logo.png" height="100" width="140px" alt="Whatsapp">
            </a>
        <div class="col-md-9 mb-6">
            <br /><br />
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Wirepick</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>

            </ul>
        </div>
        </div>
    <!-- /.top-bar -->
</header>