@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<@*form id="formProduit" name="formProduit" action="" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <div class="form-group">
                <label>First Name *</label>

                <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
            </div><br />

            <div class="form-group">
                <label>Larst Name *</label>

                <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
            </div><br />

                  <div class="form-group">
                      <label>Date of Birth *</label>


                      <div class="form-group">
                          <label>Sex *</label>
                          <select id="CODE_CATEGORIE" name="CODE_CATEGORIE" class="form-control">
                              <option>M</option>
                              <option>F</option>
                          </select>
                      </div>

                      <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
                  </div><br />

            <div class="form-group">
                <label>Profession *</label>

                <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
            </div><br />

            <div class="form-group">
                <label>Nationality *</label>

                <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
            </div><br />


        </div>
        <div class="form-group">
            <label>Contact *</label>

            <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
        </div><br />
        <div class="form-group">
            <label>Email *</label>

            <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
        </div><br />

        <div class="form-group">
            <label>Adress *</label>

            <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
        </div><br />

        <div class="form-group">
            <label>Start Date *</label>

            <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
        </div><br />

        <div class="form-group">
            <label>PRODUIT *</label>

            <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
        </div><br />

        <div class="form-group">
                <label>Salary *</label>

                <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" required />
            </div><br />



        <div class="form-group">
            <label>Picture Profile</label>

            <input type="file" id="IMAGE_PRODUIT" name="IMAGE_PRODUIT" class="form-control" />
        </div>
    </div>

        <div>
            <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-primary" />
        </div>
   
</form>*@